.attachment {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(7, 124, 221);
  }
  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

    .name-input {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 15px 12px;
      cursor: pointer;
    }
  }
}
